body {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	display: block;
	clear: both;
	content: ' ';
	height: 1px;
	visibility: hidden;
}

.wrapper {
	margin: 0 auto;
	padding: 0 auto;
	width: 99%;
	outline: 1px solid darkblue;
}

.heading {
	display: block;
	width: 100%;
}

h1 {
	float: left;
	width: 40%;
	color: #2378c8;
	border-bottom: 3px groove lightgrey;
	margin-left: 25px;
}

.container {
	margin: 0 auto;
	width: 100%;
	margin-left: 10px;
}

.employee {
	display: block;
	float: left;
	width: 33%;
	margin: 0 0 15px 10px;
	border: 2px ridge #2378c8;
	border-radius: 5px;

}

.employee img {
	float: left;
	margin-right: 10px;
	border: 1px solid black;
	padding: 4px;
	width: 50px;
	height: 50px;
}

.container1,
.container2 {
	float: left;
	padding: 4px;
}

.container2 p {
	margin: 0;
	padding-bottom: 2px;
	font-size: 14px;
}

.container2 p:first-child {
	color: 	#0000CD;
	font-size: 16px;
}

.employee a {
	text-decoration: none;
}

.employee a:link a:visited {
	color: #0D1D56;
}

.employee a:hover {
	color: #DC143C;
}

.employee a:active {
	color: #0D1D56;
}

.text {
	width: 90%;
	margin: 0 0 25px 25px;
	margin-left: 25px;
}